<!-- View Booking Modal Start -->
<div class="modal fade" id="viewBookingsModal" tabindex="-1" aria-labelledby="viewBookingsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewBookingsModalLabel">View Upcoming Bookings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="rowId" style="display: none;"></div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <table class="table" id="bookingsTable">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- View Booking Modal End -->